* {
	transition: all 0.2s ease-in-out;
}

body {
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
	// margin: 0 !important;
	color: $grey;
}

#section-padding-top {
	padding: 6.25rem 0 0;
}
#section-padding-bottom {
	padding: 0 0 6.25rem;
}
#section-padding {
	padding: 6.25rem 0;

	@include set(460) {
		padding: 3.25rem 0;
	}
}

a {
	color: $primary;
	&:hover {
		text-decoration: none;
		color: $secondary;
	}
}

.small-news {
	.news-card {
		a:hover > h1 {
			// color: $primary !important;
			background: -webkit-linear-gradient(315deg, $primary 25%, $secondary);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

img {
	transition: all 0.2s ease-in-out;
}

.pagination-container {
	display: flex;
	justify-content: center;
	ul {
		&.pagination {
			display: flex;
			align-items: center;
			li {
				&.active {
					a {
						background-color: $primary;
					}
				}
				a {
					@include margin(0, 5, 0, 5);
					width: 2rem;
					height: 2rem;
					background-color: rgba($primary, $alpha: 0.5);
					color: white;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					@include font-size(16);
					&.switcher-pages {
						width: fit-content;
						height: auto;
						background-color: transparent;
						border-radius: 0;
						color: $primary;
					}
				}
			}
		}
	}
}

li {
	.splide__pagination__page {
		width: 1rem;
		height: 1rem;
		background-color: $primary;
		border-radius: 50%;
		opacity: 0.5;

		&.is-active {
			opacity: 1;
			background-color: $primary;
			transform: scale(1);
		}
	}
}

.wide-ads {
	height: #{toRem(100)};
	width: 100%;
	object-fit: cover;
	@include margin(0, 0, 46, 0);
	border-radius: #{toRem(10)};
}

.share-box {
	display: flex;
	align-items: center;
	@include margin(0, 0, 15, 0);
	a {
		img {
			width: 2.5rem;
			height: 2.5rem;
			@include margin(0, 5, 0, 5);
		}
	}
}

figure {
	img {
		width: 100%;
	}
}

.side-container {
	.side-title {
		h3 {
			border-bottom: 1px solid $text;
			@include padding(0, 0, 24, 0);
			@include margin(0, 0, 27, 0);
		}
	}
	.side-posts {
		.side-card {
			// display: flex;
			@include margin(0, 0, 25, 0);
			&__img {
				@include set(500) {
					height: 7rem;
					@include margin(0, 0, 10, 0);
				}
				img {
					width: 100%;
					height: 4rem;
					object-fit: cover;
					border-radius: #{toRem(4)};
				}
			}
			&__info {
				@include padding(0, 0, 0, 0);

				h3 {
					@include font-size(16);
					line-height: 120%;
					@include margin(0, 0, 0, 0);

					@include set(500) {
						@include font-size(22);
					}
				}

				.topic {
					a {
						display: flex;
						span {
							@include font-size(12);
							color: $primary;
							text-decoration: underline;
							font-weight: 700;

							@include set(500) {
								@include font-size(16);
							}
						}
					}
				}

				@include set(500) {
					padding: 0 15px;
				}
			}
		}

		@include set(991) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: #{toRem(25)};
		}
	}

	.side-advertisement {
		@include set(991) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: #{toRem(25)};
		}

		img {
			// @include height(236);
			height: auto;
			width: 100%;
			object-fit: cover;
			@include margin(0, 0, 26, 0);
			border-radius: #{toRem(10)};
		}
	}

	@include set(991) {
		max-width: 100%;
		flex: 0 0 100%;
	}
}

main#nextPage {
	.side-container {
		margin: 7.2rem 0 0 0;
	}
}

._56q9 {
	// ._2pi8 {
	// 	background-color: $dark;
	// 	color: $text;
	// 	._ohe {
	// 		span {
	// 			color: $text;
	// 		}
	// 	}
	// }
}

#full-width-page-wrapper {
	padding: 10rem 0 0 0;

	.entry-title {
		text-align: center;
		@include margin(0, 0, 60, 0);
		@include font-size(60);
	}
}
