main#gallery-page {
	.gallery--content {
		@include padding(110, 0, 60, 0);
		ul.links {
			display: flex;
			list-style: none;
			padding: 0;
			justify-content: center;
			@include margin(0, 0, 60, 0);
			flex-wrap: wrap;

			li {
				@include margin(0, 5, 20, 5);
				a {
					cursor: pointer;
					@include padding(5, 15, 5, 15);
					border-radius: #{toRem(4)};
					color: $black;
					@include font-size(26);

					&.active {
						background-color: $primary;
						color: $white;
					}
				}
			}
		}
		.gallery--container {
			.wrapper {
				display: flex;
				.item {
					flex: 0 0 33.333333%;
					width: 33.333333%;
					@include margin(0, 0, 40, 0);

					img {
						width: 100%;
						// height: 30rem;
						object-fit: cover;
						padding: 0 1rem;
					}

					@include set(768) {
						flex: 0 0 50%;
						width: 50%;
					}
					@include set(375) {
						flex: 0 0 100%;
						width: 100%;
					}
				}
			}
		}
	}
}
