main#front-page {
	.hero--section {
		background-color: $light;
		.container {
			.hero {
				display: flex;
				flex-direction: column;
				align-items: center;
				@include padding(80, 0, 64, 0);
				h5 {
					@include font-size(49.7);
					background: linear-gradient(90deg, #362057, $secondary);
					background-clip: text;
					-webkit-text-fill-color: transparent;
					font-weight: 900;
					letter-spacing: #{toRem(-3)};
				}
				h1 {
					@include font-size(88.4);
					background: linear-gradient(90deg, #362057, $secondary);
					background-clip: text;
					-webkit-text-fill-color: transparent;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: #{toRem(-4)};
					@include margin(0, 0, 20, 0);
				}
				h4 {
					span {
						@include font-size(37.3);
						@include padding(0, 20, 0, 20);

						&:not(:last-of-type) {
							border-right: 1px solid $primary;
						}
					}
				}
			}
		}
		.img--slider {
			height: 38rem;
			display: flex;
			align-items: center;

			.slick-list {
				height: auto;
				.slick-track {
					height: 100%;
					display: flex;
					.slick-slide {
						@include margin(0, 20, 0, 20);
						height: #{toRem(317)} !important;
						div {
							top: 50%;
							position: relative;
							height: 100%;
							transform: translateY(-25%);
							img {
								width: 100%;
								height: inherit;
								object-fit: cover;
							}
						}

						&.slick-center {
							height: #{toRem(460)} !important;

							div {
								top: 0;
								position: relative;
								height: 100%;
								transform: translateY(0);
							}
						}
					}
				}
			}
			.slick-arrow {
				width: 15%;
				height: 100%;
				z-index: 999;

				&.slick-next {
					background: $light;
					background: linear-gradient(
						90deg,
						rgba($light, 0) 0%,
						rgba($light, 1) 100%
					);
					right: 0;
				}
				&.slick-prev {
					background: $light;
					background: linear-gradient(
						270deg,
						rgba($light, 0) 0%,
						rgba($light, 1) 100%
					);
					left: 0;
				}
			}
		}
	}
	.about--section {
		@include padding(100, 0, 100, 0);
		.container {
			.row {
				.col-md-6 {
					display: flex;
					flex-direction: column;
					justify-content: center;

					&.about--section--info {
						h1 {
							position: relative;
							@include font-size(49.7);
							background: linear-gradient(90deg, #362057, $secondary);
							background-clip: text;
							-webkit-text-fill-color: transparent;
							font-weight: 900;
							letter-spacing: #{toRem(-1)};
							width: fit-content;
							@include margin(0, 0, 50, 0);

							&::after {
								content: "";
								position: absolute;
								height: #{toRem(10)};
								width: 100%;
								bottom: #{toRem(-12)};
								left: 0;
								border-radius: 999px;
								background: linear-gradient(
									90deg,
									$primary 0%,
									rgba($primary, 0) 100%
								);
							}
						}
						p {
							@include font-size(21);
							line-height: 150%;
							color: $black-50;
						}
					}

					&.about--section--img {
						position: relative;

						div {
							display: flex;
							flex-direction: column;
							align-items: center;
							position: absolute;

							h1 {
								@include font-size(58);
								font-weight: 300;
								color: $secondary;
								z-index: 1;
							}
							h5 {
								@include font-size(18);
								font-weight: 400;
								color: $primary;
								@include margin(-10, 0, 0, 0);
								z-index: 1;
							}

							&.interviews {
								bottom: 3.5rem;
							}
							&.news {
								bottom: 9.5rem;
								right: 2rem;
							}
							&.media {
								top: 5rem;
								left: 3rem;
							}

							&::before {
								content: "";
								position: absolute;
								height: auto;
								width: auto;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(45deg);
								border-radius: #{toRem(45)};
								background: linear-gradient(
									90deg,
									rgba($primary, 0.05) 0%,
									rgba($light, 0) 100%
								);
								padding: 6rem;
								z-index: 0;
							}
						}

						img {
							@include height(730);
							object-fit: contain;
						}
					}
				}
			}
		}
	}
	.youtube--section {
		h1.section--title {
			position: relative;
			@include font-size(49.7);
			background: linear-gradient(90deg, #362057, $secondary);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 900;
			letter-spacing: #{toRem(-1)};
			@include width(384);
			@include margin(0, 0, 50, 0);

			&::after {
				content: "";
				position: absolute;
				height: #{toRem(10)};
				width: 100%;
				bottom: #{toRem(-12)};
				left: 0;
				border-radius: 999px;
				background: linear-gradient(90deg, $primary 0%, rgba($primary, 0) 100%);
			}
		}
		.section--content {
			.card--container {
				position: relative;
				img {
					border-radius: #{toRem(10)};
				}
				.bg--overlay {
					background: linear-gradient(
						0deg,
						$primary 0%,
						rgba($primary, 0) 100%
					);
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
				h4 {
					position: absolute;
					bottom: 0;
					left: 0;
					color: $white;
				}
			}
		}
	}
}

@media screen and (min-width: 550px) {
	.slick-slide {
		@include margin(0, 10, 0, 10);
		.slick-center {
			width: #{toRem(690)} !important;
		}
	}
}
