header.single-header {
	// background-color: $darker;
	.container {
		.row {
			@include padding(170, 0, 210, 0);
			flex-direction: column;

			@include set(400) {
				margin: 0;
			}

			h1.single-title {
				@include font-size(65);
				letter-spacing: #{toRem(-1)};
				font-weight: 700;
				line-height: 120%;

				@include set(500) {
					font-size: 3.5rem;
				}
			}
			.single-meta {
				@include font-size(32);
				letter-spacing: #{toRem(-1)};
				line-height: 120%;
				color: #979797;
			}
		}
	}
}

#single-wrapper {
	.container {
		margin-top: #{toRem(-140)};
		padding-bottom: 8rem;

		.head-row {
			@include set(400) {
				margin: 0;
			}

			.site-main {
				article {
					/* Featured Image */
					.main--image {
						img.content-image {
							@include height(553);
							width: 100%;
							object-fit: cover;
							@include margin(0, 0, 40, 0);
							border-radius: #{toRem(10)};
						}
						.featured-div {
							@include height(553);
							@include margin(0, 0, 40, 0);
							position: relative;

							img.content-article {
								width: 100%;
								height: 100%;
								object-fit: cover;
								border-radius: #{toRem(10)};
							}

							.featured-overlay {
								position: absolute;
								width: 100%;
								height: 100%;
								background-color: rgba(255, 255, 255, 0.75);
								top: 0;
								left: 0;
								border-radius: #{toRem(10)};
								cursor: zoom-in;

								h1 {
									font-size: 2rem;
									top: 50%;
									left: 0;
									position: relative;
									transform: rotate(-45deg) translateY(-50%);
									color: $primary;
									text-align: center;
									width: max-content;
									border-bottom: 2px dashed $primary;
								}
							}

							@include set(768) {
								height: 12rem;
								a {
									.featured-overlay {
										h1 {
											transform: rotate(0deg) translateY(-50%) translateX(-50%);
											left: 50%;
										}
									}
								}
							}
						}
					}

					/* Content */
					.row {
						.col-md-9 {
							.entry-content {
								@include font-size(22);
								line-height: 140%;
							}
						}
						.side-container {
							// position: sticky;
							// top: 0;
							// height: fit-content;
							.side-title {
								h3 {
									@include margin(32, 0, 24, 0);
								}
							}
							.side-posts {
								.side-card {
									// display: flex;
									@include margin(0, 0, 10, 0);
									&__img {
										img {
											width: 100%;
											height: 4rem;
											object-fit: cover;
											border-radius: #{toRem(4)};

											@include set(768) {
												height: 10rem;
												margin: 0 0 0.5rem 0;
											}

											@include set(500) {
												height: 7rem;
												@include margin(0, 0, 10, 0);
											}
										}
									}
									&__info {
										@include padding(0, 0, 0, 0);

										@include set(768) {
											padding: 0 0.75rem;
										}

										h3 {
											@include font-size(16);
											line-height: 120%;
											@include margin(0, 0, 0, 0);
											color: $black;
											@include set(500) {
												@include font-size(22);
											}
										}

										.topic {
											a {
												display: flex;
												span {
													@include font-size(12);
													color: $primary;
													text-decoration: underline;
													font-weight: 700;

													@include set(500) {
														@include font-size(16);
													}
												}
											}
										}

										p {
											font-size: 0.8rem;
											color: $black-50;
											margin: 0;
											line-height: 120%;
										}
									}

									@include set(768) {
										margin: 0 0 1rem 0;
									}
								}

								@include set(991) {
									display: grid;
									grid-template-columns: repeat(2, 1fr);
									grid-column-gap: #{toRem(25)};
								}
							}

							@include set(991) {
								max-width: 100%;
								flex: 0 0 100%;
							}

							.share-box {
								display: flex;
								align-items: center;

								a {
									margin: 0 0.1rem;
									img {
										height: 2.2rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
